body{
    font-size:3em;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

#mySubmitBtn{
    padding:3em 4em;
    background-color:blueviolet;
    color:bisque;
}
#mySubmitBtn:hover{
    color:blueviolet;
    background-color:bisque;
}